@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root{
    --main-bg-color: #1e1e1e;
    --main-text-color: #e1e1e1;
    --secondary-bg-color: #e1e1e1;
    --secondary-text-color: #1e1e1e;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url('./../images/street-dogs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);

}

/* header */
header{
    background-color: var(--main-bg-color);
    display: fixed;

}

.navbar-brand{
    font-size: 30px ;
    font-style: italic;
    font-weight: bold;
    width: max-content;
    letter-spacing: 1px;
}

.navbar-nav{
    justify-content: space-between;
}

.nav-link{
    font-size: 20px;
}

.d-flex{
    width: 100%;
}

.navbar-brand, #navigation{
    width: 100%;
}


/*INTRO */


#intro{
    margin: 30px auto;

}

#intro-title{
    color: black;
}
.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    font-size: 22px;
    color:black;
    font-weight: bold;
    margin: 60px 10px;
}

.intro-text p:first-child{
    width: 50%;
    align-self: flex-start;

    margin-left: 30px;
}

.intro-text p:last-child{
    width: 50%;
    align-self: end;
    margin-right: 30px;
}


/* Main */
